:root {
    --primary-colr: rgb(83, 197, 159);
    --sicndary-colr: rgb(128, 180, 157);
    --hover-colr: rgb(110, 251, 194);
    --footer-color: rgb(23, 231, 161);
    --hover-color2: rgb(4, 113, 97);
    --projects-color: rgb(15, 185, 43);
    --bg-color: aliceblue;

}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

span {
    color: var(--projects-color);
}


button {
    height: 35px;
    width: 160px;
    text-align: center;
    background-color: var(--projects-color);
    color: var(--bg-color);
    font-size: 18px;
    letter-spacing: 2px;
    border: 1px solid var(--projects-color);
    border-radius: 8px;
    transition: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: var(--bg-color);
    color: var(--projects-color);
    border: 1px solid var(--projects-color);

}


/*OUTSIDE PAGE FOR PROJECTS DETAILS*/
/*HEADER*/
#header {
    background-color: var(--bg-color);
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 65px;

}

#header .nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

/*logo*/
.nav_bar .logo img {
    width: 160px;
    height: 70px;
}

/*list*/
.nav_bar .list ul {
    display: flex;
    list-style: none;
}

.nav_bar .list ul li {
    padding-left: 60px;
    font-size: 20px;
    transition: 0.4s;
}

.nav_bar .list ul li:hover {
    color: black;
    transform: scale(1.1);
}

.nav_bar .list ul a {
    text-decoration: none;
    color: var(--projects-color);
}

.nav_bar .list ul a:hover,
.list ul a.active {
    text-decoration: none;
    color: black;
}

/*Search*/
.search input {
    position: relative;
    width: 280px;
    height: 30px;
    outline: none;
    background-color: var(--bg-color);
    border: 1px solid var(--projects-color);
    border-radius: 15px;
    padding-left: 10px;
    transition: 0.3S;
}

.search input:hover {
    border: 1px solid black;
    transform: scale(1.01);
}

.search span {
    position: absolute;
    text-align: center;
    left: 80%;
    top: 40%;
    font-size: 18px;
    color: var(--projects-color);
    cursor: pointer;
}

.search span:hover {
    color: black;
}

/*GitHub Icon*/
.github_icon a {
    font-size: 25px;
    color: var(--projects-color);
    transition: 0.5s;
}

.github_icon a:hover {
    color: black;
    transform: scale(1.1);
}

/*HOME SECTION */
#project_home {
    background-image: url(./p_images/projects_home_cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

/*home page content */
.welcome {

    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* welcome paragraph, img, btn*/
.welcome .welcome_description {
    margin-left: 20px;
}

.welcome h1 {
    color: aliceblue;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
}

.welcome p {
    color: aliceblue;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 24px;
}

.welcome p span {
    font-size: 24px;
    letter-spacing: 2px;
}

.welcome button {
    margin-top: 40px;
}

.welcome a {
    padding-left: 20px;
}

.welcome .welcome_img img {
    width: 90%;
    height: 100vh;
}

/*PROJECTS */
#projects {
    background-color: var(--bg-color);
}

#projects .project_intro {
    text-align: center;
}

.project_intro h1 {
    font-size: 35px;
    letter-spacing: 4px;
    padding-top: 30px;
}

.project_intro p {
    font-size: 22px;
    letter-spacing: 2px;
    padding: 15px;
}

/*4 completed project*/
.all_projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.all_projects a {
    text-decoration: none;
}

.project_information .P_img img {
    max-width: 340px;
    height: 250px;
    border-radius: 8px;
    overflow: hidden;
}

.project_script {
    text-align: center;
    position: relative;
    bottom: 35vh;
    border-radius: 12px 12px 0 0;
    background-color: rgba(42, 48, 50, 0.5);
    opacity: 0;
    transition: 0.8s ease-in;
}

.project_script:hover {

    opacity: 1;

}

.project_script h2 {
    padding-top: 5px;
    color: var(--bg-color);
    letter-spacing: 2px;
}

.project_script p {
    padding-top: 5px;
    font-size: 17px;
    letter-spacing: 2px;
    color: rgb(2, 245, 2);
}

.project_script a button {

    height: 35px;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 4px;
    background-color: var(--projects-color);
    transition: 0.7s;
}

.project_script a button:hover {
    border: 1px solid rgb(20, 123, 66);
    color: aliceblue;
    background-color: rgb(20, 123, 66);

}

/*all technologies*/

.technologies_head {
    text-align: center;
    margin-top: 60px;
}

/*FIRST PROJECT*/
/*aside Nav BAR*/
#first_project_description {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/*description project page*/
.script_image img {
    height: 90vh;
    width: 100%;
    margin-top: 60px;
}

/*left navbar*/
.left_nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: rgb(36, 47, 48);
    border-radius: 30px;
    padding: 10px;
    margin-left: 10px;
    width: 50px;
    text-align: center;
    margin-top: 120px;
}

/*icon pen & home*/
.write i {
    margin-top: 30px;
    padding: 6px;
    font-size: 18px;
    border-radius: 6px 0 0 6px;

}

/*icon Tools*/
.tool i {
    margin-top: 30px;
    padding: 6px;
    font-size: 18px;
    border-radius: 6px 0 0 6px;


}

/*icon Gallery*/
.gallery i {
    margin-top: 30px;
    padding: 6px;
    font-size: 18px;
    border-radius: 6px 0 0 6px;

}

/*icon questions*/
.questions i {
    margin-top: 30px;
    padding: 6px;
    font-size: 22px;
    border-radius: 6px 0 0 6px;

}

/*Left navbar icons links */
.left_nav a {
    text-decoration: none;
    letter-spacing: 2px;
}

.left_nav a i:hover,
a #active {
    color: var(--projects-color);
}

.left_nav a i {
    color: aliceblue;
    font-size: 20px;
    text-align: center;
}

/*left navbar tooltip*/
.left_nav a span {
    position: relative;
    bottom: 27px;
    left: 45px;
    opacity: 0;
    padding: 5px;
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 12px;
    background-color: rgb(36, 47, 48);
    color: aliceblue;
    transition: opacity 0.7s ease-in;
    pointer-events: none;
}

.left_nav a:hover span {

    opacity: 1;
}

/*description of project content*/
.description_project {
    margin-left: 200px;
}

.description_project h1 {
    font-size: 50px;
    color: aliceblue;
}

.description_project p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
    color: aliceblue;
}

.description_project button i {
    opacity: 0;
    padding-left: 10px;
    transition: opacity 0.6S ease-in;
}

.description_project button:hover i {
    opacity: 1;
}



/*TOOLs*/
#tools_part {
    background-color: var(--bg-color);
    height: 60vh;
}

.tool_head {
    text-align: center;
    padding-top: 20px;
}

.tool_head h2 {
    font-size: 35px;
    letter-spacing: 7px;
}

.tool_head p {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 3px;
}

/*Small navbar about show tools i used on project*/
.tools_navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(111, 221, 111);
    width: 60%;
    margin: 50px 20%;
    border-radius: 12px;
    padding: 4px;
}

/*tool type (EDITOR ,CONTROL SYSTEM , LANGUAGES , DESIGN TOOL)*/
.tool_type {
    border-bottom: 2px solid black;
    position: relative;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.tool_type:hover {
    border-bottom: 2px solid aliceblue;
    color: aliceblue;
    transform: translate(7px);
}

/*TOOL used*/
.tool-used {
    display: flex;
    align-items: center;
    position: absolute;
    top: 60px;
    opacity: 0;
    padding-right: 20px;
    pointer-events: none;
    color: black;
    transition: opacity 0.6s ease-in;

}

.tool_type:hover .tool-used {
    opacity: 1;
}

.tool_1 h4 {
    font-size: 18px;
    letter-spacing: 2px;
    align-items: center;
}

.tool_1 i {
    font-size: 35px;
    color: orange;
    text-align: center;
}

.tool_2 h4 {
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
}

.tool_2 i {
    font-size: 35px;
    color: blue;
    text-align: center;
}

.tools_navigation :nth-child(2),
.tool-used :nth-child(1) {
    padding-right: 16px;
}


/*GALLERY*/
#Gallery {
    background-color: var(--bg-color);
}

.head_gallery {
    text-align: center;
    padding-top: 30px;
}

.head_gallery h2 {
    font-size: 35px;
    letter-spacing: 7px;
}

.head_gallery P {
    font-size: 22px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 3px;
}

/*gallery pictures*/
.gallery_pictures {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 10px;
    overflow: hidden;
    background-color: rgb(73, 73, 73);

}

.picture img {
    max-width: 500px;
    height: 250px;
    margin: 20px 0 30px 130px;
    border-radius: 16px;
    display: block;
    transition: 0.5s;
    cursor: pointer;

}

.picture img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px var(--projects-color));
}





/*FAQ SECTION*/

.FAQ_question_part {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.faq_head {
    text-align: center;
}

.faq_head h2 {
    font-size: 35px;
    letter-spacing: 5px;
}

.faq_head {
    font-size: 25px;
    letter-spacing: 3px;
}

/* send questions  Form & suggested questions */
.message {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*1-message form*/
.message_form {
    background-color: aliceblue;
    box-shadow: 0 4px 6px var(--primary-colr);
    border-radius: 12px;
}

.message_form h2 {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    letter-spacing: 2px;
}

.form h2 {
    text-align: center;
    padding: 5px;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--primary-colr);
}

/*form inputs*/
.message_input label {
    font-size: 18px;
    letter-spacing: 3px;
}

.message_input input {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--primary-colr);
    background-color: aliceblue;
    margin-top: 25px;
    width: 100%;
}

.message_input .name {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 15px;
}

.message_input .message_area {
    margin-top: 20px;
    padding: 15px;
}

/*form button*/
.send_btn {
    text-align: center;
}

.send_btn button {
    margin: 20px;
    text-align: center;
    width: 200px;
    height: 35px;
    background-color: var(--primary-colr);
    color: aliceblue;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    transition: 0.5S;
    cursor: pointer;
}

.send_btn button:hover {
    border: 1px solid var(--primary-colr);
    background-color: aliceblue;
    color: var(--primary-colr);
}

/*2-suggested questions*/

.faq_container {
    background-color: var(--bg-color);
    box-shadow: 0 4px 6px var(--primary-colr);
    border-radius: 18px;
}

.faq_question {
    padding: 30px;
}

.faq_question h2 {
    text-align: center;
    font-size: 22px;
    color: var(--primary-colr);
    letter-spacing: 3px;
    margin-bottom: 30px;
}

.faq_question details {
    width: 450px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    background-color: var(--bg-color);
    margin-bottom: 10px;
}

.faq_question details span {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--projects-color);
}









/* FOOTER*/

#footer_info {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: rgb(208, 226, 217);
    flex-wrap: wrap;
}

/* pages part*/
#footer_info h1 {
    margin-left: 12px;
}

#footer_info .pages h2 {
    margin-left: 35px;
    border-bottom: 2px solid black;
}

#footer_info .pages ul a {
    text-decoration: none;
    color: black;
}

#footer_info .pages ul li {
    list-style: none;
    padding-top: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s;
}

#footer_info .pages ul li:hover {
    color: var(--projects-color);
    transform: translate(7px);
}

/*contact us part*/
#footer_info .contact_us h2 {
    margin-left: 35px;
    border-bottom: 2px solid black;
}

#footer_info .contact_us ul li {
    list-style: none;
    padding-top: 10px;
    font-size: 18px;
    cursor: pointer;
}

#footer_info .contact_us li a {
    color: black;
    text-decoration: none;
    padding-top: 10px;
    transition: 0.4s;
}

#footer_info .contact_us li a:hover {
    color: var(--projects-color);
    transform: translate(7px);
}

/*Follow us part*/
#footer_info .follow_us h2 {
    margin-left: 35px;
    border-bottom: 2px solid black;
}

#footer_info .follow_us a {
    color: black;
    margin-left: 30px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

#footer_info .follow_us a:hover {
    color: var(--projects-color);
    transform: translate(8px);
}